<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body class="bg-sky-200 flex items-center justify-center">

    <div class="bg-black text-white p-32 mt-28  rounded-lg shadow-2xl   ">

        <table>
            <thead>
                <th>TEXTOS</th>
            </thead>
    
            <tbody>
                {% for texto in lista_textos %}
                    <tr>
                        <td>{{ texto.texto_largo }}</td>
                        <td>
                            <form action="{{ url_for('actualizar', usuario_id=usuario.id) }}" method="get">
                            <input type="submit" value="Actualizar">
                            </form>
                        </td>
    
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</body>
</html>